/block_lattices/6d_blocks_spin0.csv
/block_lattices/6d_blocks_spin2.csv
/block_lattices/6d_blocks_spin4.csv
/block_lattices/6d_blocks_spin6.csv
/block_lattices/6d_blocks_spin8.csv
/block_lattices/6d_blocks_spin10.csv
/block_lattices/6d_blocks_spin12.csv
/block_lattices/6d_blocks_spin14.csv
/sac0.csv
