appnope
asttokens
backcall
backports.functools-lru-cache
certifi
charset-normalizer
cloudpickle
colorama
comm
contourpy
cycler
debugpy
decorator
entrypoints
executing
filelock
fonttools
gmpy2
idna
importlib-metadata
ipykernel
ipyparallel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
munkres
nest-asyncio
networkx
numpy
packaging
parso
pexpect
pickleshare
Pillow
pip
platformdirs
pooch
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
PySocks
python-dateutil
pyzmq
requests
scipy
setuptools
six
stack-data
sympy
torch
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
wheel
zipp
